html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
}


h2, h4 {
  text-align: center;
}
hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(230, 230, 230);
}

button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

.chacs {
  border: none;
  background: #DCDCDC;
  float: left;
  text-align: start;
  font-size: 13px;
}

#play-menu,
#room-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#play-menu p,
#room-menu p {
  margin-bottom: 0;
}

#game {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#game-utils {
  overflow: auto;
  background: #40E0D0;
  margin: auto auto;
  float: right;
  width: 20%;
  height: 100%;
  overflow-y: auto;
  bottom: 0;
}

#game-terms {
  height: 20rem;
  overflow: auto;
  border-style: solid;
  border-color: crimson;
  border-width: 1rem;
}

#game-chat {
  height: fit-content;
  overflow: auto;
}

#game-spec-cards {
  height: 25%;
}

#game-smart-button {
  height: 25%;
  float: bottom;
}

#play-menu input,
#room-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#play-menu input:hover,
#room-menu input:hover {
  outline: none;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

#game-player-cards {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  background: #FFD700;
  width: 80%;
  float: left;
  overflow: auto;
}

.player {
  height: fit-content;
  width: fit-content;
  float: left;
  margin-top: 1%;
  margin-left: 1.2%;
  margin-bottom: 10%;
  text-align: start;
  border: solid;
}

#info {
  font-size: 12px;
  margin-left: 5%;
  margin-top: 5%;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }

  #leaderboard th {
    padding: 0 3px;
  }

  #leaderboard td {
    padding: 0 3px;
  }

  #leaderboard table {
    font-size: 14px;
  }
}
